---
layout: default
---

{% for post in paginator.posts %}
<article class="h-entry post col-lg-12 clearfix">
  {% if post.title != '' %}
  <h2 class="p-name"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}

  <time class="date dt-published" datetime="{{ post.date }}"
    >{{ post.date | date: "%a %d %b %Y" }}</time
  >

  <section class="p-summary">{{ post.excerpt }}</section>

  <!-- decide content type -->
  {% if post.mf-bookmark %}
  <p>
    Bookmark:
    <a
      class="u-bookmark-of"
      href="{{post.mf-bookmark | first}}"
      rel="noopener noreferrer"
      >{{post.u-bookmark-of}}</a
    >
  </p>
  {% elsif post.mf-bookmark-of %}
  <p>
    Bookmark
    <a
      class="u-bookmark-of"
      href="{{post.mf-bookmark-of | first}}"
      rel="noopener noreferrer"
      >{{post.title}}</a
    >
  </p>
  {% elsif post.mf-repost-of %}
  <a
    class="u-repost-of"
    href="{{post.mf-repost-of | first}}"
    rel="noopener noreferrer"
  >
    {{post.mf-summary | first | markdownify}}
  </a>

  {% elsif post.mf-like-of %}
  <a
    class="u-like-of"
    href="{{post.mf-like-of | first}}"
    rel="noopener noreferrer"
  >
    {{post.mf-summary | first | markdownify}}
  </a>

  {% endif %}

  <div class="more btn-group btn-group-xs">
    <a href="{{ post.url }}" class="btn btn-default">Read more</a>
  </div>
</article>
{% endfor %}

<div class="col-lg-12">
  <ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
      {% if paginator.previous_page == 1 %}
      <a href="/">Previous</a>
      {% else %}
      <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </li>
    {% else %}
    <li class="previous disabled">
      <span>Previous</span>
    </li>
    {% endif %}

    <!--
    {% if paginator.page == 1 %}
        <li class="page disabled">
            <span class="active">1 <span class="sr-only">(current)</span></span>
        </li>
    {% else %}
        <li class="page">
            <a href="/">1</a>
        </li>
    {% endif %}

     {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <li class="page">
            <span class="active">{{ count }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li class="page">
            <a href="/page/{{ count }}">{{ count }}</a>
        </li>
        {% endif %}
    {% endfor %} -->

    {% if paginator.next_page %}
    <li class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </li>
    {% else %}
    <li class="next disabled">
      <span>Next</span>
    </li>
    {% endif %}
  </ul>
</div>
