---

---
<!DOCTYPE html>
<html>
<head>
    <title>Skin of Stars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="shortcut icon" href="/assets/star-icon.png">
</head>
<body>
    <div class="container">

        <div class="row nav">
            <div class="col-xs-5">
                <h1 class="brand">
                    <a href="/">Skin of Stars</a>
                </h1>
            </div>


            <div class="links col-xs-7">
                <ul class="nav">
                    <li>
                        <a href="https://twitter.com/intent/user?screen_name=skinofstars" title="@skinofstars"><i class="icon-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/skinofstars" title="skinofstars"><i class="icon-github"></i></a>
                    </li>
                    <li>
                        <a href="mailto:kevin@skinofstars.com" title="kevin@skinofstars.com"><i class="icon-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            {{ content }}
        </div>

        <div class="row footer">
            <div class="col-sm-2">
                <!--Creative Commons License--><a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.png" border="0" /></a>
            </div>
            <div class="col-sm-10">
                <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/">Creative Commons Attribution-ShareAlike 2.0 England &amp; Wales License</a>.</p>

                <!--/Creative Commons License--><!-- <rdf:rdf xmlns="http://web.resource.org/cc/" dc="http://purl.org/dc/elements/1.1/" rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><br /> <work about=""><br />  <license resource="http://creativecommons.org/licenses/by-sa/2.0/uk/"><br /> <dc:type resource="http://purl.org/dc/dcmitype/Text"><br /> </work><br /> <license about="http://creativecommons.org/licenses/by-sa/2.0/uk/"><permits resource="http://web.resource.org/cc/Reproduction"><permits resource="http://web.resource.org/cc/Distribution"><requires resource="http://web.resource.org/cc/Notice"><requires resource="http://web.resource.org/cc/Attribution"><permits resource="http://web.resource.org/cc/DerivativeWorks"><requires resource="http://web.resource.org/cc/ShareAlike"></license></rdf:RDF> -->
            </div>
        </div>

    </div>

    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

    <script type="text/javascript">
    var _gaq = [['_setAccount', 'UA-12736204-1'],['_trackPageview']];

    (function(s) {
        var ga = document.createElement(s); ga.type = 'text/java' + s; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s = document.getElementsByTagName(s)[0]; s.parentNode.insertBefore(ga, s);
    })('script');
    </script>
</body>
</html>

